h1{  
    font-size: 50px;
}
body{
    font-family: 'Poppins', sans-serif;
}
footer{
    background-color: rgb(69, 69, 69);
    font-size: 40px;
    margin: 40px;
    text-align: center;
    line-height: 90px;
    color: aliceblue;
}


.containerh{
    text-align: center;
    background-color: rgb(208, 208, 208);
}

.album{
    border-radius: 50px;
}